<h2>{{title}}</h2>

<!--show person details-->
<ul>
  <li>{{person.firstname}}</li>
  <li>{{person.lastname}}</li>
  <ul>
    <li>
      <h2>Location</h2>
    </li>
    <li>{{person.location.city}}</li>
    <li>{{person.location.country}}</li>
  </ul>
</ul>
<hr>
<!--show detail within context-->
<ul>
  {{#with person}}
  <li>{{firstname}}</li>
  <li>{{lastname}}</li>
    {{#with location}}
      <li>{{country}}</li>
      <li>{{city}}</li>
    {{/with}}
  {{/with}}
</ul>
<ul>
  {{#each hobbies }}
    <li>{{this}}</li>
  {{/each}} 
</ul>
{{> footer person}}